version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: todo-mysql
    environment:
      MYSQL_ROOT_PASSWORD: qwer
      MYSQL_USER: todos-user
      MYSQL_PASSWORD: 1234
      MYSQL_DATABASE: todos
    ports:
      - "3306:3306"
    volumes:
      - ./db_data:/var/lib/mysql